body{
    background-image: url(../img/bg.jpg);
    background-position: 0 40px;
    padding-top: 60px;
}
.top .search{
    margin: 190px 0;
    text-align: center;
}
.top h1{
    font-size: 60px;
}
.title{margin: 15px;}

.hit{margin: 15px 0 0;}

/*--------------------------------------
  clear fix
---------------------------------------*/

.clearfix:after {
    height: 0;
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
}
.clearfix{ /*--IE用--*/
    zoom: 1;/*for IE 5.5-7*/
}
/* Hides from IE-mac \*/
* html .clearfix {
    zoom: 1;
    height: 1%;
    overflow: visible;
}
/* End hide from IE-mac */
